/////////////////////////
// button
/////////////////////////

.button {
  appearance: none;
  border: 0;
  background-color: $color-link;
  color: $color-background;
  display: inline-block;
  padding: 1em;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;

  &:visited,
  &:active,
  &:hover {
    color: $color-background;
  }

  @include respond-to(m) {

  }

  @include respond-to(l) {

  }

  @include respond-to(xl) {

  }
}
